* {
    padding: 0;
    margin: 0;
}

body {
    background: lightsalmon;
}

form {
    margin-top: 10px;
    text-align: center;
}

#button {
    margin-top: 10px;
}

label {
    padding-right: 8px;
}

div {
    margin-top: 15px;
    margin-left: 390px;
    width: 510px;
    height: auto;
    border: 1px solid black;
}

p {
    margin-left: 390px;
    margin-top: 10px;
}
